ENDPOINT_HOST
ENDPOINT_PORT

RABBITMQ_HOST
RABBITMQ_PORT
RABBITMQ_USER
RABBITMQ_PASS
RABBITMQ_QUEUE

POSTGRES_HOST=postgres
POSTGRES_PORT
POSTGRES_USER
POSTGRES_PASS
POSTGRES_DB
POSTGRES_TABLE

LOG_LEVEL
RETRY_COUNT